:root {
    --main-background-grid-element-color: #c5d5e4;
    --main-border-color: #031322;
    --main-btn-input-color: #e6eff8;
    --main-background-body-color: #333;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/bg-map.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #485e74;
    line-height: 1.6;
    font-family: 'Century Gothic';
    padding: 1em;
}

.container {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}


.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, .7);
    border-radius: 10px;
}

.wrapper > * {
    padding: 1em;
}

.form-main {
    background: #f9feff;
    border-radius: 10px;
}

 /* FORM STYLE */

.form-header {
    text-align: center;
    border-radius: 10px;
}

.form-main {
    display: grid;
    grid-column: 1fr;
    grid-gap: 20px;
    border-radius: 10px;
}

.form-main label {
    display: block; 
}

.form-main p {
    margin: 0;
}

.form-main .btn, .form-main input {
    width: 90%;
    padding: 1em;
	border-radius: 5px;
    border: 1px solid #c9e6ff;
	margin-top: 1em;
}

.form-main .btn{
    background: #c9e6ff;
    border: 0;
	text-transform: uppercase;
	font-weight: 900;
    margin-top: 2em;
}

.form-main .btn:hover, .form-main .btn:focus {
    background: #6491be;
    cursor: pointer;
    color: #fff;
    transition: background-color 2s ease-out;
}

.form-main p .btn-footer{
	font-weight: 500;
    background: none;
	color: #00008B;
	border: none;
	padding: 0;
	cursor: pointer;
	font-size: 1.1em;
}

.form-main .form-footer {
    text-align: center;
	margin-top: 1em;
    font-size: 1.1em;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
<<<<<<< HEAD
=======

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: .5em;
}

.search-bar {
    position: relative;
    top: 4em;
    display: grid;
    background: var(--main-background-grid-element-color);
    grid-row: 2;
    grid-column: 1/8;
}

.map {
    display: grid;
    background: var(--main-background-grid-element-color);
    grid-row: 3;
    grid-column: 1/8;
	margin-top: 60px;
}

.wiki {
    display: grid;
    background: var(--main-background-grid-element-color);
    grid-row: 4;
    grid-column: 1/8;
}


.info {
    display: grid;
    background: var(--main-background-grid-element-color);
    grid-row: 5;
    grid-column: 1/8;
}
/*
body {
    background: var(--main-background-body-color);
}
*/
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    padding: 1rem;
    background: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger menu */
.menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}

/* Top and bottom line */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Line down */
.menu-wrap .hamburger > div:after {
    top: 10px;
}
>>>>>>> origin/Ania_branch
